terraform/environments/electronic-monitoring-data/step_function_definitions/gdpr_deletion.json.tmpl
{
   "StartAt": "ControlLambda",
   "States": {

      "ControlLambda": {
         "Type": "Task",
         "Resource": "${control_lambda_arn}",
         "Next": "TriggerBatchDeletionJobs",
         "Catch": [
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.unstructured_error",
               "Next": "BuildUnstructuredControlFailureMessage"
            }
         ]
      },

      "TriggerBatchDeletionJobs": {
         "Type": "Map",
         "ItemsPath": "$.jobs_to_run",
         "ResultPath": "$.batch_results",
         "Next": "BuildUnstructuredSuccessMessage",
         "Catch": [
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.unstructured_error",
               "Next": "BuildUnstructuredBatchFailureMessage"
            }
         ],
         "ItemProcessor": {
            "ProcessorConfig": {
               "Mode": "INLINE"
            },
            "StartAt": "SubmitBatchJob",
            "States": {
               "SubmitBatchJob": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::batch:submitJob.sync",
                  "Parameters": {
                     "JobName.$": "$.job_name",
                     "JobQueue": "${batch_job_queue_arn}",
                     "JobDefinition": "${batch_job_definition_arn}",
                     "ContainerOverrides": {
                        "Environment": [
                           {
                              "Name": "S3_FILE_URI",
                              "Value.$": "$.s3_file_uri"
                           },
                           {
                              "Name": "MANIFEST_URI",
                              "Value.$": "$.manifest_uri"
                           }
                        ]
                     }
                  },
                  "Retry": [
                     {
                        "ErrorEquals": [
                           "Batch.ServerException",
                           "Batch.AWSBatchException",
                           "States.TaskFailed"
                        ],
                        "IntervalSeconds": 3,
                        "MaxAttempts": 3,
                        "BackoffRate": 2.0
                     }
                  ],
                  "End": true
               }
            }
         }
      },

      "BuildUnstructuredSuccessMessage": {
         "Type": "Pass",
         "ResultPath": "$.notification",
         "Parameters": {
            "version": "1.0",
            "source": "custom",
            "id.$": "States.Format('gdpr-unstructured-deletion-{}', $$.Execution.Name)",
            "content": {
               "textType": "client-markdown",
               "title": ":white_check_mark: GDPR unstructured deletion succeeded in ${environment_name}",
               "description.$": "States.Format('Environment: ${environment_name}; Jobs run: {}', States.ArrayLength($.jobs_to_run))",
               "nextSteps": [],
               "keywords": [
                  "GDPR",
                  "Unstructured Deletion",
                  "SUCCEEDED"
               ]
            },
            "metadata": {
               "additionalContext": {
                  "environment": "${environment_name}"
               },
               "enableCustomActions": false
            }
         },
         "Next": "PublishUnstructuredSuccessMessage"
      },

      "PublishUnstructuredSuccessMessage": {
         "Type": "Task",
         "QueryLanguage": "JSONata",
         "Resource": "arn:aws:states:::sns:publish",
         "Arguments": {
            "TopicArn": "${sns_topic_arn}",
            "Message": "{% $string($states.input.notification) %}"
         },
         "Output": "{% $states.input %}",
         "Next": "RunContainerTask"
      },

      "BuildUnstructuredControlFailureMessage": {
         "Type": "Pass",
         "ResultPath": "$.notification",
         "Parameters": {
            "version": "1.0",
            "source": "custom",
            "id.$": "States.Format('gdpr-unstructured-control-failure-{}', $$.Execution.Name)",
            "content": {
               "textType": "client-markdown",
               "title": ":x: GDPR unstructured control failed in ${environment_name}",
               "description.$": "States.Format('Environment: ${environment_name}; Failed state: ControlLambda; Error: {}; Cause: {}', $.unstructured_error.Error, $.unstructured_error.Cause)",
               "nextSteps": [
                  "Review the Step Function execution history.",
                  "Review the unstructured control Lambda logs."
               ],
               "keywords": [
                  "GDPR",
                  "Unstructured Deletion",
                  "FAILED"
               ]
            },
            "metadata": {
               "additionalContext": {
                  "environment": "${environment_name}"
               },
               "enableCustomActions": false
            }
         },
         "Next": "PublishUnstructuredControlFailureMessage"
      },

      "PublishUnstructuredControlFailureMessage": {
         "Type": "Task",
         "QueryLanguage": "JSONata",
         "Resource": "arn:aws:states:::sns:publish",
         "Arguments": {
            "TopicArn": "${sns_topic_arn}",
            "Message": "{% $string($states.input.notification) %}"
         },
         "Output": "{% $states.input %}",
         "Next": "FailUnstructuredControl"
      },

      "FailUnstructuredControl": {
         "Type": "Fail",
         "Error": "UnstructuredControlFailed",
         "Cause": "The unstructured control Lambda failed."
      },

      "BuildUnstructuredBatchFailureMessage": {
         "Type": "Pass",
         "ResultPath": "$.notification",
         "Parameters": {
            "version": "1.0",
            "source": "custom",
            "id.$": "States.Format('gdpr-unstructured-batch-failure-{}', $$.Execution.Name)",
            "content": {
               "textType": "client-markdown",
               "title": ":x: GDPR unstructured deletion failed in ${environment_name}",
               "description.$": "States.Format('Environment: ${environment_name}; Failed state: TriggerBatchDeletionJobs; Jobs prepared: {}; Error: {}; Cause: {}', States.ArrayLength($.jobs_to_run), $.unstructured_error.Error, $.unstructured_error.Cause)",
               "nextSteps": [
                  "Review the Step Function execution history.",
                  "Review the Batch job logs.",
                  "Check the manifest and audit parquet outputs."
               ],
               "keywords": [
                  "GDPR",
                  "Unstructured Deletion",
                  "FAILED"
               ]
            },
            "metadata": {
               "additionalContext": {
                  "environment": "${environment_name}"
               },
               "enableCustomActions": false
            }
         },
         "Next": "PublishUnstructuredBatchFailureMessage"
      },

      "PublishUnstructuredBatchFailureMessage": {
         "Type": "Task",
         "QueryLanguage": "JSONata",
         "Resource": "arn:aws:states:::sns:publish",
         "Arguments": {
            "TopicArn": "${sns_topic_arn}",
            "Message": "{% $string($states.input.notification) %}"
         },
         "Output": "{% $states.input %}",
         "Next": "FailUnstructuredBatch"
      },

      "FailUnstructuredBatch": {
         "Type": "Fail",
         "Error": "UnstructuredBatchFailed",
         "Cause": "The unstructured Batch Map state failed."
      },

      "RunContainerTask": {
         "Type": "Task",
         "Resource": "arn:aws:states:::ecs:runTask.sync",
         "Parameters": {
            "LaunchType": "FARGATE",
            "Cluster": "${cluster_arn}",
            "TaskDefinition": "${task_definition_family}",
            "NetworkConfiguration": {
               "AwsvpcConfiguration": {
                  "Subnets": ${subnets_json},
                  "SecurityGroups": ${security_groups_json},
                  "AssignPublicIp": "DISABLED"
               }
            },
            "Overrides": {
               "ContainerOverrides": [
                  {
                     "Name": "${container_name}",
                     "Environment": [
                        {
                           "Name": "DEPLOY_VERSION",
                           "Value": "latest"
                        },
                        {
                           "Name": "ATHENA_OUTPUT_BUCKET",
                           "Value": "${athena_output_bucket}"
                        }
                     ]
                  }
               ]
            }
         },
         "End": true
      }
   }
}