terraform/environments/electronic-monitoring-data/step_function_definitions/gdpr_deletion.json.tmpl
{  
   "StartAt": "ControlLambda",
   "States": {  

      "ControlLambda": {
         "Type": "Task",
         "Resource": "${control_lambda_arn}",
         "Next": "TriggerBatchDeletionJobs"
      },

      "TriggerBatchDeletionJobs": {
         "Type": "Map",
         "ItemsPath": "$.jobs_to_run",
         "Next": "EvaluateBatchResults",
         "ItemProcessor": {
            "ProcessorConfig": {
               "Mode": "INLINE"
            },
            "StartAt": "SubmitBatchJob",
            "States": {
               "SubmitBatchJob": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::batch:submitJob.sync",
                  "ResultPath": "$.batch_result",
                  "Next": "MarkAsSuccess",
                  "Parameters": {
                     "JobName.$": "$.job_name",
                     "JobQueue": "${batch_job_queue_arn}",
                     "JobDefinition": "${batch_job_definition_arn}",
                     "ContainerOverrides": {
                        "Environment": [
                           {
                              "Name": "S3_FILE_URI",
                              "Value.$": "$.s3_file_uri"
                           },
                           {
                              "Name": "MANIFEST_URI",
                              "Value.$": "$.manifest_uri"
                           }
                        ]
                     }
                  },
                  "Retry": [
                     {
                        "ErrorEquals": [
                           "Batch.ServerException",
                           "Batch.AWSBatchException",
                           "States.TaskFailed"
                        ],
                        "IntervalSeconds": 3,
                        "MaxAttempts": 3,
                        "BackoffRate": 2.0
                     }
                  ],
                  "Catch": [
                     {
                        "ErrorEquals": ["States.ALL"],
                        "ResultPath": "$.error_details",
                        "Next": "MarkAsFailed"
                     }
                  ]
               },

               "MarkAsSuccess": {
                  "Type": "Pass",
                  "Result": "SUCCESS",
                  "ResultPath": "$.job_status",
                  "End": true
               },

               "MarkAsFailed": {
                  "Type": "Pass",
                  "Result": "FAILED",
                  "ResultPath": "$.job_status",
                  "End": true
               }
            }
         }
      },

      "EvaluateBatchResults": {
         "Type": "Task",
         "Resource": "${evaluator_lambda_arn}",
         "Next": "RunContainerTask"
      },

      "RunContainerTask": {  
         "Type": "Task",
         "Resource": "arn:aws:states:::ecs:runTask.sync",
         "Parameters": {  
            "LaunchType": "FARGATE",
            "Cluster": "${cluster_arn}",
            "TaskDefinition": "${task_definition_family}",
            "NetworkConfiguration": {
               "AwsvpcConfiguration": {
                  "Subnets": ${subnets_json},
                  "SecurityGroups": ${security_groups_json},
                  "AssignPublicIp": "DISABLED"
               }
            },
            "Overrides": {  
               "ContainerOverrides": [  
                  {
                     "Name": "${container_name}",
                     "Environment": [
                        {
                           "Name": "DEPLOY_VERSION",
                           "Value": "latest"
                        },
                        {
                           "Name": "ATHENA_OUTPUT_BUCKET",
                           "Value": "${athena_output_bucket}"
                        }
                     ]
                  }
               ]
            }
         },
         "End": true
      }
   }
}