terraform/environments/integration-hub-file-transfer/step-functions/file-transfer-workflow.asl.json
{
  "Comment": "Stage and route exact S3 object versions with independent durable idempotency checkpoints",
  "QueryLanguage": "JSONata",
  "StartAt": "Dispatch Event",
  "TimeoutSeconds": ${state_machine_timeout_secs},
  "States": {
    "Dispatch Event": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $states.input.version = '0' and $states.input.`detail-type` = 'FileReceived.v1' and $states.input.source = 'uk.gov.justice.service.managed-file-transfer' %}",
          "Next": "Initialise Staging"
        },
        {
          "Condition": "{% $states.input.version = '0' and $states.input.`detail-type` = 'FileScanResultRecorded.v1' and $states.input.source = 'uk.gov.justice.service.managed-file-transfer' %}",
          "Next": "Initialise Routing"
        }
      ],
      "Default": "Unsupported Event"
    },
    "Unsupported Event": {
      "Type": "Fail",
      "Error": "UnsupportedFileTransferEvent",
      "Cause": "The workflow only accepts FileReceived.v1 and FileScanResultRecorded.v1 events"
    },
    "Initialise Staging": {
      "Type": "Pass",
      "Assign": {
        "event": "{% $states.input %}",
        "eventId": "{% $exists($states.input.id) ? $states.input.id : null %}",
        "fileId": "{% $exists($states.input.detail.data.fileId) ? $states.input.detail.data.fileId : null %}",
        "correlationId": "{% $exists($states.input.detail.metadata.correlationId) ? $states.input.detail.metadata.correlationId : null %}",
        "idempotencyKey": "{% $exists($states.input.detail.metadata.idempotencyKey) ? $states.input.detail.metadata.idempotencyKey : null %}",
        "incomingObjectBucket": "{% $exists($states.input.detail.data.object.bucket) ? $states.input.detail.data.object.bucket : null %}",
        "incomingObjectKey": "{% $exists($states.input.detail.data.object.key) ? $states.input.detail.data.object.key : null %}",
        "incomingObjectVersionId": "{% $exists($states.input.detail.data.object.versionId) ? $states.input.detail.data.object.versionId : null %}",
        "incomingObjectSizeBytes": "{% $exists($states.input.detail.data.object.sizeBytes) ? $states.input.detail.data.object.sizeBytes : null %}",
        "expectedAccountId": ${account_id},
        "incomingBucket": ${incoming_bucket_name},
        "processingBucket": ${processing_bucket_name},
        "processingKmsKeyArn": ${processing_kms_key_arn},
        "partSize": ${part_size_bytes},
        "maximumSize": ${maximum_size_bytes},
        "eventBusArn": ${event_bus_arn},
        "leaseSeconds": ${lease_seconds},
        "recordRetentionSeconds": ${record_retention_seconds},
        "nowEpoch": "{% $floor($toMillis($states.context.Execution.StartTime) / 1000) %}",
        "multipartAttempt": 0
      },
      "Next": "Validate Event"
    },
    "Validate Event": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $event.version = '0' and $event.`detail-type` = 'FileReceived.v1' and $event.source = 'uk.gov.justice.service.managed-file-transfer' and $event.account = $expectedAccountId and $incomingObjectBucket = $incomingBucket and $type($eventId) = 'string' and $length($eventId) > 0 and $type($fileId) = 'string' and $length($fileId) > 0 and $type($correlationId) = 'string' and $length($correlationId) > 0 and $type($idempotencyKey) = 'string' and $length($idempotencyKey) > 0 and $type($incomingObjectKey) = 'string' and $length($incomingObjectKey) > 0 and $type($incomingObjectVersionId) = 'string' and $length($incomingObjectVersionId) > 0 and $type($incomingObjectSizeBytes) = 'number' and $floor($incomingObjectSizeBytes) = $incomingObjectSizeBytes and $incomingObjectSizeBytes >= 0 and $incomingObjectSizeBytes <= $maximumSize %}",
          "Next": "Prepare Operation"
        }
      ],
      "Default": "Invalid Event"
    },
    "Invalid Event": {
      "Type": "Fail",
      "Error": "InvalidFileReceivedEvent",
      "Cause": "The event does not satisfy the FileReceived.v1 workflow contract"
    },
    "Prepare Operation": {
      "Type": "Pass",
      "Assign": {
        "operationId": "{% 'file-transfer-workflow#' & $idempotencyKey %}"
      },
      "Next": "Claim Operation"
    },
    "Claim Operation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Item": {
          "id": { "S": "{% $operationId %}" },
          "status": { "S": "INPROGRESS" },
          "execution_arn": { "S": "{% $states.context.Execution.Id %}" },
          "event_id": { "S": "{% $eventId %}" },
          "file_id": { "S": "{% $fileId %}" },
          "correlation_id": { "S": "{% $correlationId %}" },
          "incoming_bucket": { "S": "{% $incomingObjectBucket %}" },
          "incoming_key": { "S": "{% $incomingObjectKey %}" },
          "incoming_version_id": { "S": "{% $incomingObjectVersionId %}" },
          "incoming_size_bytes": { "N": "{% $string($incomingObjectSizeBytes) %}" },
          "created_at": { "S": "{% $states.context.Execution.StartTime %}" },
          "updated_at": { "S": "{% $states.context.Execution.StartTime %}" },
          "expiration": { "N": "{% $string($nowEpoch + $recordRetentionSeconds) %}" },
          "in_progress_expiration": { "N": "{% $string($nowEpoch + $leaseSeconds) %}" }
        },
        "ConditionExpression": "attribute_not_exists(id) OR expiration < :now",
        "ExpressionAttributeValues": {
          ":now": { "N": "{% $string($nowEpoch) %}" }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "DynamoDB.InternalServerError",
            "DynamoDB.ProvisionedThroughputExceededException",
            "DynamoDB.RequestLimitExceeded"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["DynamoDB.ConditionalCheckFailedException"],
          "Next": "Get Existing Operation"
        }
      ],
      "Next": "Set New Operation Status"
    },
    "Set New Operation Status": {
      "Type": "Pass",
      "Assign": {
        "resumeStatus": "INPROGRESS"
      },
      "Next": "Inspect Incoming Object"
    },
    "Get Existing Operation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "ConsistentRead": true,
        "Key": {
          "id": { "S": "{% $operationId %}" }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "DynamoDB.InternalServerError",
            "DynamoDB.ProvisionedThroughputExceededException",
            "DynamoDB.RequestLimitExceeded"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "existingItem": "{% $exists($states.result.Item) ? $states.result.Item : {} %}"
      },
      "Next": "Evaluate Existing Operation"
    },
    "Evaluate Existing Operation": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $exists($existingItem.status.S) and $existingItem.status.S = 'COMPLETED' %}",
          "Next": "Duplicate Event"
        },
        {
          "Condition": "{% $exists($existingItem.in_progress_expiration.N) and $number($existingItem.in_progress_expiration.N) >= $nowEpoch %}",
          "Next": "Operation In Progress"
        },
        {
          "Condition": "{% $exists($existingItem.status.S) and $exists($existingItem.execution_arn.S) %}",
          "Next": "Take Over Expired Operation"
        }
      ],
      "Default": "Invalid Stored Operation"
    },
    "Duplicate Event": {
      "Type": "Succeed"
    },
    "Operation In Progress": {
      "Type": "Succeed"
    },
    "Invalid Stored Operation": {
      "Type": "Fail",
      "Error": "InvalidStoredOperation",
      "Cause": "The idempotency record is missing required workflow state"
    },
    "Take Over Expired Operation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $operationId %}" }
        },
        "UpdateExpression": "SET execution_arn = :execution, in_progress_expiration = :lease, updated_at = :updated",
        "ConditionExpression": "execution_arn = :previous_execution AND in_progress_expiration < :now AND #status <> :completed",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":previous_execution": { "S": "{% $existingItem.execution_arn.S %}" },
          ":lease": { "N": "{% $string($nowEpoch + $leaseSeconds) %}" },
          ":now": { "N": "{% $string($nowEpoch) %}" },
          ":updated": { "S": "{% $states.context.Execution.StartTime %}" },
          ":completed": { "S": "COMPLETED" }
        },
        "ReturnValues": "ALL_NEW"
      },
      "Assign": {
        "resumeStatus": "{% $states.result.Attributes.status.S %}",
        "uploadId": "{% $exists($states.result.Attributes.upload_id.S) ? $states.result.Attributes.upload_id.S : null %}",
        "partCount": "{% $exists($states.result.Attributes.part_count.N) ? $number($states.result.Attributes.part_count.N) : null %}",
        "processingObjectVersionId": "{% $exists($states.result.Attributes.processing_version_id.S) ? $states.result.Attributes.processing_version_id.S : null %}",
        "copyMethod": "{% $exists($states.result.Attributes.copy_method.S) ? $states.result.Attributes.copy_method.S : ($states.result.Attributes.status.S in ['MULTIPART_CREATED', 'PARTS_COPIED', 'MULTIPART_ABORTED'] ? 'MULTIPART' : null) %}"
      },
      "Next": "Route Stored Checkpoint"
    },
    "Route Stored Checkpoint": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $resumeStatus = 'PUBLISHED' %}",
          "Next": "Checkpoint Completed"
        },
        {
          "Condition": "{% $resumeStatus = 'VERIFIED' %}",
          "Next": "Delete Exact Incoming Object Version"
        },
        {
          "Condition": "{% $resumeStatus in ['INPROGRESS', 'MULTIPART_CREATED', 'PARTS_COPIED', 'MULTIPART_ABORTED', 'COPIED'] %}",
          "Next": "Inspect Incoming Object"
        }
      ],
      "Default": "Invalid Stored Operation"
    },
    "Inspect Incoming Object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:headObject",
      "Arguments": {
        "Bucket": "{% $incomingObjectBucket %}",
        "Key": "{% $incomingObjectKey %}",
        "VersionId": "{% $incomingObjectVersionId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}",
        "ChecksumMode": "ENABLED"
      },
      "Retry": [
        {
          "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "incomingObjectHead": "{% $states.result %}"
      },
      "Next": "Get Incoming Object Tags"
    },
    "Get Incoming Object Tags": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObjectTagging",
      "Arguments": {
        "Bucket": "{% $incomingObjectBucket %}",
        "Key": "{% $incomingObjectKey %}",
        "VersionId": "{% $incomingObjectVersionId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Retry": [
        {
          "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "incomingObjectTags": "{% $exists($states.result.TagSet) ? $states.result.TagSet : [] %}",
        "incomingObjectTagging": "{% $count($states.result.TagSet) > 0 ? $join($map($states.result.TagSet, function($tag) { $encodeUrlComponent($tag.Key) & '=' & $encodeUrlComponent($tag.Value) }), '&') : '' %}",
        "incomingObjectTagFingerprint": "{% $count($states.result.TagSet) > 0 ? $join($sort($map($states.result.TagSet, function($tag) { $encodeUrlComponent($tag.Key) & '=' & $encodeUrlComponent($tag.Value) })), '&') : '' %}",
        "expectedProcessingObjectMetadata": "{% $merge([$exists($incomingObjectHead.Metadata) ? $incomingObjectHead.Metadata : {}, {'mft-file-id': $fileId}]) %}"
      },
      "Next": "Validate Incoming Object"
    },
    "Validate Incoming Object": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $incomingObjectHead.ContentLength = $incomingObjectSizeBytes and ($not($exists($incomingObjectHead.Metadata)) or $not($exists($lookup($incomingObjectHead.Metadata, 'mft-file-id')))) %}",
          "Next": "Route Copy Checkpoint"
        }
      ],
      "Default": "Invalid Incoming Object"
    },
    "Invalid Incoming Object": {
      "Type": "Fail",
      "Error": "InvalidIncomingObject",
      "Cause": "The exact incoming version does not match the event or uses reserved metadata"
    },
    "Route Copy Checkpoint": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $resumeStatus = 'COPIED' %}",
          "Next": "Inspect Processing Object"
        },
        {
          "Condition": "{% $resumeStatus = 'MULTIPART_CREATED' %}",
          "Next": "Build Resumed Multipart Ranges"
        },
        {
          "Condition": "{% $resumeStatus = 'PARTS_COPIED' %}",
          "Next": "List Parts For Completion"
        },
        {
          "Condition": "{% $resumeStatus = 'MULTIPART_ABORTED' %}",
          "Next": "Prepare Multipart Copy"
        },
        {
          "Condition": "{% $resumeStatus = 'INPROGRESS' and $incomingObjectSizeBytes <= $partSize %}",
          "Next": "Prepare Single Copy"
        },
        {
          "Condition": "{% $resumeStatus = 'INPROGRESS' and $incomingObjectSizeBytes > $partSize %}",
          "Next": "Prepare Multipart Copy"
        }
      ],
      "Default": "Invalid Stored Operation"
    },
    "Prepare Single Copy": {
      "Type": "Pass",
      "Assign": {
        "copyMethod": "SINGLE"
      },
      "Next": "Copy Incoming Object"
    },
    "Copy Incoming Object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "Arguments": "{% $merge([{'Bucket': $processingBucket, 'Key': $incomingObjectKey, 'CopySource': $incomingObjectBucket & '/' & $encodeUrlComponent($incomingObjectKey) & '?versionId=' & $encodeUrlComponent($incomingObjectVersionId), 'ExpectedBucketOwner': $expectedAccountId, 'ExpectedSourceBucketOwner': $expectedAccountId, 'MetadataDirective': 'REPLACE', 'Metadata': $expectedProcessingObjectMetadata, 'ServerSideEncryption': 'aws:kms', 'SsekmsKeyId': $processingKmsKeyArn}, $count($incomingObjectTags) > 0 ? {'TaggingDirective': 'REPLACE', 'Tagging': $incomingObjectTagging} : {}, $exists($incomingObjectHead.CacheControl) ? {'CacheControl': $incomingObjectHead.CacheControl} : {}, $exists($incomingObjectHead.ContentDisposition) ? {'ContentDisposition': $incomingObjectHead.ContentDisposition} : {}, $exists($incomingObjectHead.ContentEncoding) ? {'ContentEncoding': $incomingObjectHead.ContentEncoding} : {}, $exists($incomingObjectHead.ContentLanguage) ? {'ContentLanguage': $incomingObjectHead.ContentLanguage} : {}, $exists($incomingObjectHead.ContentType) ? {'ContentType': $incomingObjectHead.ContentType} : {}, $exists($incomingObjectHead.Expires) ? {'Expires': $incomingObjectHead.Expires} : {}, $exists($incomingObjectHead.WebsiteRedirectLocation) ? {'WebsiteRedirectLocation': $incomingObjectHead.WebsiteRedirectLocation} : {}]) %}",
      "Assign": {
        "processingObjectVersionId": "{% $states.result.VersionId %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Reconcile Processing Object"
        }
      ],
      "Next": "Checkpoint Copied"
    },
    "Prepare Multipart Copy": {
      "Type": "Pass",
      "Assign": {
        "copyMethod": "MULTIPART",
        "partCount": "{% $ceil($incomingObjectSizeBytes / $partSize) %}",
        "multipartAttempt": "{% $multipartAttempt + 1 %}"
      },
      "Next": "Build Multipart Ranges"
    },
    "Build Multipart Ranges": {
      "Type": "Pass",
      "Assign": {
        "parts": "{% $map($range(0, $partCount - 1, 1), function($index) { {'PartNumber': $index + 1, 'RangeStart': $index * $partSize, 'RangeEnd': $min([(($index + 1) * $partSize) - 1, $incomingObjectSizeBytes - 1]), 'ExpectedSize': $min([$partSize, $incomingObjectSizeBytes - ($index * $partSize)])} }) %}"
      },
      "Next": "Create Multipart Upload"
    },
    "Build Resumed Multipart Ranges": {
      "Type": "Pass",
      "Assign": {
        "parts": "{% $map($range(0, $partCount - 1, 1), function($index) { {'PartNumber': $index + 1, 'RangeStart': $index * $partSize, 'RangeEnd': $min([(($index + 1) * $partSize) - 1, $incomingObjectSizeBytes - 1]), 'ExpectedSize': $min([$partSize, $incomingObjectSizeBytes - ($index * $partSize)])} }) %}"
      },
      "Next": "List Existing Parts"
    },
    "Multipart Reconciliation Failure": {
      "Type": "Fail",
      "Error": "MultipartReconciliationFailure",
      "Cause": "An ambiguous multipart upload could not be reconciled safely"
    },
    "Create Multipart Upload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:createMultipartUpload",
      "Arguments": "{% $merge([{'Bucket': $processingBucket, 'Key': $incomingObjectKey, 'ExpectedBucketOwner': $expectedAccountId, 'Metadata': $expectedProcessingObjectMetadata, 'ServerSideEncryption': 'aws:kms', 'SsekmsKeyId': $processingKmsKeyArn}, $count($incomingObjectTags) > 0 ? {'Tagging': $incomingObjectTagging} : {}, $exists($incomingObjectHead.CacheControl) ? {'CacheControl': $incomingObjectHead.CacheControl} : {}, $exists($incomingObjectHead.ContentDisposition) ? {'ContentDisposition': $incomingObjectHead.ContentDisposition} : {}, $exists($incomingObjectHead.ContentEncoding) ? {'ContentEncoding': $incomingObjectHead.ContentEncoding} : {}, $exists($incomingObjectHead.ContentLanguage) ? {'ContentLanguage': $incomingObjectHead.ContentLanguage} : {}, $exists($incomingObjectHead.ContentType) ? {'ContentType': $incomingObjectHead.ContentType} : {}, $exists($incomingObjectHead.Expires) ? {'Expires': $incomingObjectHead.Expires} : {}, $exists($incomingObjectHead.WebsiteRedirectLocation) ? {'WebsiteRedirectLocation': $incomingObjectHead.WebsiteRedirectLocation} : {}]) %}",
      "Assign": {
        "uploadId": "{% $states.result.UploadId %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Multipart Reconciliation Failure"
        }
      ],
      "Next": "Checkpoint Multipart Created"
    },
    "Checkpoint Multipart Created": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $operationId %}" }
        },
        "UpdateExpression": "SET #status = :status, upload_id = :upload_id, part_count = :part_count, part_size = :part_size, updated_at = :updated, in_progress_expiration = :lease",
        "ConditionExpression": "execution_arn = :execution AND #status IN (:inprogress, :aborted)",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "MULTIPART_CREATED" },
          ":inprogress": { "S": "INPROGRESS" },
          ":aborted": { "S": "MULTIPART_ABORTED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":upload_id": { "S": "{% $uploadId %}" },
          ":part_count": { "N": "{% $string($partCount) %}" },
          ":part_size": { "N": "{% $string($partSize) %}" },
          ":updated": { "S": "{% $now() %}" },
          ":lease": { "N": "{% $string($floor($toMillis($now()) / 1000) + $leaseSeconds) %}" }
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Abort Multipart Upload"
        }
      ],
      "Next": "List Existing Parts"
    },
    "List Existing Parts": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:listParts",
      "Arguments": {
        "Bucket": "{% $processingBucket %}",
        "Key": "{% $incomingObjectKey %}",
        "UploadId": "{% $uploadId %}",
        "MaxParts": 1000,
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Assign": {
        "listedParts": "{% $exists($states.result.Parts) ? $map($states.result.Parts, function($part) { {'PartNumber': $part.PartNumber, 'Size': $part.Size, 'ETag': $part.ETag} }) : [] %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Reconcile Processing Object"
        }
      ],
      "Next": "Build Missing Parts"
    },
    "Build Missing Parts": {
      "Type": "Pass",
      "Assign": {
        "missingParts": "{% $filter($parts, function($expected) { $count($filter($listedParts, function($listed) { $listed.PartNumber = $expected.PartNumber and $listed.Size = $expected.ExpectedSize })) = 0 }) %}"
      },
      "Next": "Copy Missing Parts"
    },
    "Copy Missing Parts": {
      "Type": "Map",
      "Items": "{% $missingParts %}",
      "MaxConcurrency": ${multipart_max_concurrency},
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Copy Part",
        "States": {
          "Copy Part": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:s3:uploadPartCopy",
            "Arguments": {
              "Bucket": "{% $processingBucket %}",
              "Key": "{% $incomingObjectKey %}",
              "UploadId": "{% $uploadId %}",
              "PartNumber": "{% $states.input.PartNumber %}",
              "CopySource": "{% $incomingObjectBucket & '/' & $encodeUrlComponent($incomingObjectKey) & '?versionId=' & $encodeUrlComponent($incomingObjectVersionId) %}",
              "CopySourceRange": "{% 'bytes=' & $string($states.input.RangeStart) & '-' & $string($states.input.RangeEnd) %}",
              "ExpectedBucketOwner": "{% $expectedAccountId %}",
              "ExpectedSourceBucketOwner": "{% $expectedAccountId %}"
            },
            "Retry": [
              {
                "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
                "IntervalSeconds": 2,
                "MaxAttempts": 5,
                "BackoffRate": 2,
                "MaxDelaySeconds": 60,
                "JitterStrategy": "FULL"
              }
            ],
            "Output": {},
            "End": true
          }
        }
      },
      "Output": [],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Abort Multipart Upload"
        }
      ],
      "Next": "Release Part Planning Data"
    },
    "Release Part Planning Data": {
      "Type": "Pass",
      "Assign": {
        "parts": null,
        "listedParts": null,
        "missingParts": null
      },
      "Next": "List Parts For Completion"
    },
    "List Parts For Completion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:listParts",
      "Arguments": {
        "Bucket": "{% $processingBucket %}",
        "Key": "{% $incomingObjectKey %}",
        "UploadId": "{% $uploadId %}",
        "MaxParts": 1000,
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Assign": {
        "partsListTruncated": "{% $states.result.IsTruncated %}",
        "completedParts": "{% $exists($states.result.Parts) ? $map($states.result.Parts, function($part) { {'PartNumber': $part.PartNumber, 'Size': $part.Size, 'ETag': $part.ETag} }) : [] %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Reconcile Processing Object"
        }
      ],
      "Next": "Validate Completed Parts"
    },
    "Validate Completed Parts": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $partsListTruncated = false and $count($completedParts) = $partCount and $count($filter($completedParts, function($part) { $part.PartNumber >= 1 and $part.PartNumber <= $partCount and $part.Size = ($part.PartNumber = $partCount ? $incomingObjectSizeBytes - (($partCount - 1) * $partSize) : $partSize) })) = $partCount %}",
          "Next": "Checkpoint Parts Copied"
        }
      ],
      "Default": "Abort Multipart Upload"
    },
    "Checkpoint Parts Copied": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $operationId %}" }
        },
        "UpdateExpression": "SET #status = :status, updated_at = :updated, in_progress_expiration = :lease",
        "ConditionExpression": "execution_arn = :execution AND #status IN (:created, :parts)",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "PARTS_COPIED" },
          ":created": { "S": "MULTIPART_CREATED" },
          ":parts": { "S": "PARTS_COPIED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":updated": { "S": "{% $now() %}" },
          ":lease": { "N": "{% $string($floor($toMillis($now()) / 1000) + $leaseSeconds) %}" }
        }
      },
      "Next": "Complete Multipart Upload"
    },
    "Complete Multipart Upload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:completeMultipartUpload",
      "Arguments": {
        "Bucket": "{% $processingBucket %}",
        "Key": "{% $incomingObjectKey %}",
        "UploadId": "{% $uploadId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}",
        "MpuObjectSize": "{% $incomingObjectSizeBytes %}",
        "MultipartUpload": {
          "Parts": "{% $map($completedParts, function($part) { {'PartNumber': $part.PartNumber, 'ETag': $part.ETag} }) %}"
        }
      },
      "Assign": {
        "processingObjectVersionId": "{% $states.result.VersionId %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "List Parts After Completion Failure"
        }
      ],
      "Next": "Checkpoint Copied"
    },
    "List Parts After Completion Failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:listParts",
      "Arguments": {
        "Bucket": "{% $processingBucket %}",
        "Key": "{% $incomingObjectKey %}",
        "UploadId": "{% $uploadId %}",
        "MaxParts": 1000,
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Assign": {
        "completedParts": "{% $map($states.result.Parts, function($part) { {'PartNumber': $part.PartNumber, 'Size': $part.Size, 'ETag': $part.ETag} }) %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Reconcile Processing Object"
        }
      ],
      "Next": "Retry Complete Multipart Upload"
    },
    "Retry Complete Multipart Upload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:completeMultipartUpload",
      "Arguments": {
        "Bucket": "{% $processingBucket %}",
        "Key": "{% $incomingObjectKey %}",
        "UploadId": "{% $uploadId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}",
        "MpuObjectSize": "{% $incomingObjectSizeBytes %}",
        "MultipartUpload": {
          "Parts": "{% $map($completedParts, function($part) { {'PartNumber': $part.PartNumber, 'ETag': $part.ETag} }) %}"
        }
      },
      "Assign": {
        "processingObjectVersionId": "{% $states.result.VersionId %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Reconcile Processing Object"
        }
      ],
      "Next": "Checkpoint Copied"
    },
    "Reconcile Processing Object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:headObject",
      "Arguments": {
        "Bucket": "{% $processingBucket %}",
        "Key": "{% $incomingObjectKey %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}",
        "ChecksumMode": "ENABLED"
      },
      "Assign": {
        "processingObjectHead": "{% $states.result %}",
        "processingObjectVersionId": "{% $states.result.VersionId %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Ambiguous Copy Failure"
        }
      ],
      "Next": "Get Reconciled Processing Object Tags"
    },
    "Get Reconciled Processing Object Tags": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObjectTagging",
      "Arguments": {
        "Bucket": "{% $processingBucket %}",
        "Key": "{% $incomingObjectKey %}",
        "VersionId": "{% $processingObjectVersionId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Assign": {
        "processingObjectTags": "{% $exists($states.result.TagSet) ? $states.result.TagSet : [] %}",
        "processingObjectTagFingerprint": "{% $count($states.result.TagSet) > 0 ? $join($sort($map($states.result.TagSet, function($tag) { $encodeUrlComponent($tag.Key) & '=' & $encodeUrlComponent($tag.Value) })), '&') : '' %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Ambiguous Copy Failure"
        }
      ],
      "Next": "Validate Reconciled Processing Object"
    },
    "Validate Reconciled Processing Object": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $processingObjectHead.ContentLength = $incomingObjectSizeBytes and $processingObjectHead.ServerSideEncryption = 'aws:kms' and $processingObjectHead.SsekmsKeyId = $processingKmsKeyArn and $count($keys($processingObjectHead.Metadata)) = $count($keys($expectedProcessingObjectMetadata)) and $count($filter($keys($expectedProcessingObjectMetadata), function($key) { $lookup($processingObjectHead.Metadata, $key) = $lookup($expectedProcessingObjectMetadata, $key) })) = $count($keys($expectedProcessingObjectMetadata)) and $processingObjectTagFingerprint = $incomingObjectTagFingerprint %}",
          "Next": "Checkpoint Copied"
        }
      ],
      "Default": "Ambiguous Copy Failure"
    },
    "Ambiguous Copy Failure": {
      "Type": "Fail",
      "Error": "AmbiguousCopyFailure",
      "Cause": "The copy outcome could not be reconciled without risking a duplicate processing version"
    },
    "Checkpoint Copied": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $operationId %}" }
        },
        "UpdateExpression": "SET #status = :status, copy_method = :copy_method, processing_bucket = :processing_bucket, processing_key = :processing_key, processing_version_id = :processing_version_id, processing_object_lookup_key = :processing_object_lookup_key, updated_at = :updated, in_progress_expiration = :lease",
        "ConditionExpression": "execution_arn = :execution AND #status IN (:inprogress, :parts, :copied)",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "COPIED" },
          ":inprogress": { "S": "INPROGRESS" },
          ":parts": { "S": "PARTS_COPIED" },
          ":copied": { "S": "COPIED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":copy_method": { "S": "{% $copyMethod %}" },
          ":processing_bucket": { "S": "{% $processingBucket %}" },
          ":processing_key": { "S": "{% $incomingObjectKey %}" },
          ":processing_version_id": { "S": "{% $processingObjectVersionId %}" },
          ":processing_object_lookup_key": { "S": "{% $processingBucket & ':' & $incomingObjectKey & ':' & $processingObjectVersionId %}" },
          ":updated": { "S": "{% $now() %}" },
          ":lease": { "N": "{% $string($floor($toMillis($now()) / 1000) + $leaseSeconds) %}" }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "DynamoDB.InternalServerError",
            "DynamoDB.ProvisionedThroughputExceededException",
            "DynamoDB.RequestLimitExceeded"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Get Copied Checkpoint"
        }
      ],
      "Next": "Inspect Processing Object"
    },
    "Get Copied Checkpoint": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "ConsistentRead": true,
        "Key": {
          "id": { "S": "{% $operationId %}" }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "DynamoDB.InternalServerError",
            "DynamoDB.ProvisionedThroughputExceededException",
            "DynamoDB.RequestLimitExceeded"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "copiedCheckpointItem": "{% $exists($states.result.Item) ? $states.result.Item : {} %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Ambiguous Copied Checkpoint Failure"
        }
      ],
      "Next": "Evaluate Copied Checkpoint"
    },
    "Evaluate Copied Checkpoint": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $exists($copiedCheckpointItem.status.S) and $copiedCheckpointItem.status.S = 'COPIED' and $exists($copiedCheckpointItem.execution_arn.S) and $copiedCheckpointItem.execution_arn.S = $states.context.Execution.Id and $exists($copiedCheckpointItem.processing_version_id.S) and $copiedCheckpointItem.processing_version_id.S = $processingObjectVersionId %}",
          "Next": "Inspect Processing Object"
        },
        {
          "Condition": "{% $exists($copiedCheckpointItem.status.S) and $copiedCheckpointItem.status.S in ['INPROGRESS', 'PARTS_COPIED'] and $exists($copiedCheckpointItem.execution_arn.S) and $copiedCheckpointItem.execution_arn.S = $states.context.Execution.Id %}",
          "Next": "Delete Uncheckpointed Processing Version"
        }
      ],
      "Default": "Ambiguous Copied Checkpoint Failure"
    },
    "Delete Uncheckpointed Processing Version": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
      "Arguments": {
        "Bucket": "{% $processingBucket %}",
        "Key": "{% $incomingObjectKey %}",
        "VersionId": "{% $processingObjectVersionId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Retry": [
        {
          "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 2,
          "MaxDelaySeconds": 60,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Uncheckpointed Processing Cleanup Failure"
        }
      ],
      "Next": "Route Uncheckpointed Copy Rollback"
    },
    "Route Uncheckpointed Copy Rollback": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $copyMethod = 'MULTIPART' %}",
          "Next": "Checkpoint Multipart Aborted"
        }
      ],
      "Default": "Uncheckpointed Copy Rolled Back"
    },
    "Uncheckpointed Copy Rolled Back": {
      "Type": "Fail",
      "Error": "UncheckpointedCopyRolledBack",
      "Cause": "The exact processing version was removed because its durable checkpoint did not commit"
    },
    "Ambiguous Copied Checkpoint Failure": {
      "Type": "Fail",
      "Error": "AmbiguousCopiedCheckpointFailure",
      "Cause": "The copy checkpoint outcome could not be reconciled safely"
    },
    "Uncheckpointed Processing Cleanup Failure": {
      "Type": "Fail",
      "Error": "UncheckpointedProcessingCleanupFailure",
      "Cause": "The uncheckpointed processing version could not be removed safely"
    },
    "Abort Multipart Upload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:abortMultipartUpload",
      "Arguments": {
        "Bucket": "{% $processingBucket %}",
        "Key": "{% $incomingObjectKey %}",
        "UploadId": "{% $uploadId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Retry": [
        {
          "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 2,
          "MaxDelaySeconds": 60,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Checkpoint Multipart Aborted"
    },
    "Checkpoint Multipart Aborted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $operationId %}" }
        },
        "UpdateExpression": "SET #status = :status, updated_at = :updated, in_progress_expiration = :lease REMOVE upload_id, part_count, part_size",
        "ConditionExpression": "execution_arn = :execution AND #status IN (:inprogress, :created, :parts)",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "MULTIPART_ABORTED" },
          ":inprogress": { "S": "INPROGRESS" },
          ":created": { "S": "MULTIPART_CREATED" },
          ":parts": { "S": "PARTS_COPIED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":updated": { "S": "{% $now() %}" },
          ":lease": { "N": "{% $string($floor($toMillis($now()) / 1000) + $leaseSeconds) %}" }
        }
      },
      "Next": "Allow Multipart Retry"
    },
    "Allow Multipart Retry": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $multipartAttempt < 2 %}",
          "Next": "Prepare Multipart Copy"
        }
      ],
      "Default": "Multipart Copy Failure"
    },
    "Multipart Copy Failure": {
      "Type": "Fail",
      "Error": "MultipartCopyFailure",
      "Cause": "The multipart copy failed after its bounded recovery attempt"
    },
    "Inspect Processing Object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:headObject",
      "Arguments": {
        "Bucket": "{% $processingBucket %}",
        "Key": "{% $incomingObjectKey %}",
        "VersionId": "{% $processingObjectVersionId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}",
        "ChecksumMode": "ENABLED"
      },
      "Retry": [
        {
          "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "processingObjectHead": "{% $states.result %}"
      },
      "Next": "Get Processing Object Tags"
    },
    "Get Processing Object Tags": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObjectTagging",
      "Arguments": {
        "Bucket": "{% $processingBucket %}",
        "Key": "{% $incomingObjectKey %}",
        "VersionId": "{% $processingObjectVersionId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Retry": [
        {
          "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "processingObjectTags": "{% $exists($states.result.TagSet) ? $states.result.TagSet : [] %}",
        "processingObjectTagFingerprint": "{% $count($states.result.TagSet) > 0 ? $join($sort($map($states.result.TagSet, function($tag) { $encodeUrlComponent($tag.Key) & '=' & $encodeUrlComponent($tag.Value) })), '&') : '' %}"
      },
      "Next": "Verify Processing Object"
    },
    "Verify Processing Object": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $processingObjectHead.ContentLength = $incomingObjectSizeBytes and $processingObjectHead.ServerSideEncryption = 'aws:kms' and $processingObjectHead.SsekmsKeyId = $processingKmsKeyArn and $count($keys($processingObjectHead.Metadata)) = $count($keys($expectedProcessingObjectMetadata)) and $count($filter($keys($expectedProcessingObjectMetadata), function($key) { $lookup($processingObjectHead.Metadata, $key) = $lookup($expectedProcessingObjectMetadata, $key) })) = $count($keys($expectedProcessingObjectMetadata)) and $processingObjectTagFingerprint = $incomingObjectTagFingerprint %}",
          "Next": "Checkpoint Verified"
        }
      ],
      "Default": "Processing Object Verification Failure"
    },
    "Processing Object Verification Failure": {
      "Type": "Fail",
      "Error": "ProcessingObjectVerificationFailure",
      "Cause": "The processing version does not match the exact incoming object attributes"
    },
    "Checkpoint Verified": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $operationId %}" }
        },
        "UpdateExpression": "SET #status = :status, verified_at = :verified, updated_at = :updated, in_progress_expiration = :lease",
        "ConditionExpression": "execution_arn = :execution AND #status = :copied",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "VERIFIED" },
          ":copied": { "S": "COPIED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":verified": { "S": "{% $now() %}" },
          ":updated": { "S": "{% $now() %}" },
          ":lease": { "N": "{% $string($floor($toMillis($now()) / 1000) + $leaseSeconds) %}" }
        }
      },
      "Next": "Delete Exact Incoming Object Version"
    },
    "Delete Exact Incoming Object Version": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
      "Arguments": {
        "Bucket": "{% $incomingObjectBucket %}",
        "Key": "{% $incomingObjectKey %}",
        "VersionId": "{% $incomingObjectVersionId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Retry": [
        {
          "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 2,
          "MaxDelaySeconds": 60,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Prepare File Staged Event"
    },
    "Prepare File Staged Event": {
      "Type": "Pass",
      "Assign": {
        "stagedEventIdempotencyKey": "{% $processingBucket & ':' & $incomingObjectKey & ':' & $processingObjectVersionId %}",
        "fileStagedEventDetail": "{% {'metadata': {'correlationId': $correlationId, 'causationId': $eventId, 'idempotencyKey': $processingBucket & ':' & $incomingObjectKey & ':' & $processingObjectVersionId}, 'data': {'fileId': $fileId, 'sourceObject': {'bucket': $incomingObjectBucket, 'key': $incomingObjectKey, 'versionId': $incomingObjectVersionId, 'sizeBytes': $incomingObjectSizeBytes}, 'stagedObject': {'bucket': $processingBucket, 'key': $incomingObjectKey, 'versionId': $processingObjectVersionId, 'sizeBytes': $incomingObjectSizeBytes}, 'metadataPreserved': true, 'tagsPreserved': true, 'sourceDeleted': true}} %}"
      },
      "Next": "Publish File Staged Event"
    },
    "Publish File Staged Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": "{% $fileStagedEventDetail %}",
            "DetailType": "FileStagedForScanning.v1",
            "EventBusName": "{% $eventBusArn %}",
            "Source": "uk.gov.justice.service.managed-file-transfer"
          }
        ]
      },
      "Retry": [
        {
          "ErrorEquals": ["EventBridge.FailedEntry", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 2,
          "MaxDelaySeconds": 60,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "stagedEventId": "{% $states.result.Entries[0].EventId %}"
      },
      "Next": "Checkpoint Published"
    },
    "Checkpoint Published": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $operationId %}" }
        },
        "UpdateExpression": "SET #status = :status, staged_event_id = :event_id, staged_event_idempotency_key = :idempotency_key, published_at = :published, updated_at = :updated, in_progress_expiration = :lease",
        "ConditionExpression": "execution_arn = :execution AND #status = :verified",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "PUBLISHED" },
          ":verified": { "S": "VERIFIED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":event_id": { "S": "{% $stagedEventId %}" },
          ":idempotency_key": { "S": "{% $stagedEventIdempotencyKey %}" },
          ":published": { "S": "{% $now() %}" },
          ":updated": { "S": "{% $now() %}" },
          ":lease": { "N": "{% $string($floor($toMillis($now()) / 1000) + $leaseSeconds) %}" }
        }
      },
      "Next": "Checkpoint Completed"
    },
    "Checkpoint Completed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $operationId %}" }
        },
        "UpdateExpression": "SET #status = :status, completed_at = :completed, updated_at = :updated REMOVE in_progress_expiration",
        "ConditionExpression": "execution_arn = :execution AND #status = :published",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "COMPLETED" },
          ":published": { "S": "PUBLISHED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":completed": { "S": "{% $now() %}" },
          ":updated": { "S": "{% $now() %}" }
        }
      },
      "Next": "Workflow Completed"
    },
    "Workflow Completed": {
      "Type": "Succeed"
    },
    "Initialise Routing": {
      "Type": "Pass",
      "Assign": {
        "event": "{% $states.input %}",
        "eventId": "{% $exists($states.input.id) ? $states.input.id : null %}",
        "fileId": "{% $exists($states.input.detail.data.fileId) ? $states.input.detail.data.fileId : null %}",
        "correlationId": "{% $exists($states.input.detail.metadata.correlationId) ? $states.input.detail.metadata.correlationId : null %}",
        "scanCausationId": "{% $exists($states.input.detail.metadata.causationId) ? $states.input.detail.metadata.causationId : null %}",
        "idempotencyKey": "{% $exists($states.input.detail.metadata.idempotencyKey) ? $states.input.detail.metadata.idempotencyKey : null %}",
        "scanResultStatus": "{% $exists($states.input.detail.data.scanResultStatus) ? $states.input.detail.data.scanResultStatus : null %}",
        "routingSourceBucket": "{% $exists($states.input.detail.data.object.bucket) ? $states.input.detail.data.object.bucket : null %}",
        "routingSourceKey": "{% $exists($states.input.detail.data.object.key) ? $states.input.detail.data.object.key : null %}",
        "routingSourceVersionId": "{% $exists($states.input.detail.data.object.versionId) ? $states.input.detail.data.object.versionId : null %}",
        "routingSourceSizeBytes": "{% $exists($states.input.detail.data.object.sizeBytes) ? $states.input.detail.data.object.sizeBytes : null %}",
        "expectedAccountId": ${account_id},
        "processingBucket": ${processing_bucket_name},
        "routingDestinations": ${routing_destinations},
        "partSize": ${part_size_bytes},
        "maximumSize": ${maximum_size_bytes},
        "eventBusArn": ${event_bus_arn},
        "leaseSeconds": ${lease_seconds},
        "recordRetentionSeconds": ${record_retention_seconds},
        "nowEpoch": "{% $floor($toMillis($states.context.Execution.StartTime) / 1000) %}",
        "routingMultipartAttempt": 0
      },
      "Next": "Validate Routing Event"
    },
    "Validate Routing Event": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $event.version = '0' and $event.`detail-type` = 'FileScanResultRecorded.v1' and $event.source = 'uk.gov.justice.service.managed-file-transfer' and $event.account = $expectedAccountId and $routingSourceBucket = $processingBucket and $scanResultStatus in ['NO_THREATS_FOUND', 'THREATS_FOUND', 'UNSUPPORTED', 'ACCESS_DENIED', 'FAILED'] and $type($eventId) = 'string' and $length($eventId) > 0 and $type($fileId) = 'string' and $length($fileId) > 0 and $type($correlationId) = 'string' and $length($correlationId) > 0 and $type($scanCausationId) = 'string' and $length($scanCausationId) > 0 and $type($idempotencyKey) = 'string' and $length($idempotencyKey) > 0 and $type($routingSourceKey) = 'string' and $length($routingSourceKey) > 0 and $type($routingSourceVersionId) = 'string' and $length($routingSourceVersionId) > 0 and $type($routingSourceSizeBytes) = 'number' and $floor($routingSourceSizeBytes) = $routingSourceSizeBytes and $routingSourceSizeBytes >= 0 and $routingSourceSizeBytes <= $maximumSize %}",
          "Next": "Select Routing Route"
        }
      ],
      "Default": "Invalid Routing Event"
    },
    "Invalid Routing Event": {
      "Type": "Fail",
      "Error": "InvalidFileScanResultRecordedEvent",
      "Cause": "The event does not satisfy the FileScanResultRecorded.v1 routing contract"
    },
    "Select Routing Route": {
      "Type": "Pass",
      "Assign": {
        "route": "{% $scanResultStatus = 'NO_THREATS_FOUND' ? 'clean' : $scanResultStatus = 'THREATS_FOUND' ? 'quarantine' : 'investigation' %}"
      },
      "Next": "Configure Routing Destination"
    },
    "Configure Routing Destination": {
      "Type": "Pass",
      "Assign": {
        "routingDestinationBucket": "{% $lookup($routingDestinations, $route).bucket %}",
        "routingDestinationKmsKeyArn": "{% $lookup($routingDestinations, $route).kmsKeyArn %}"
      },
      "Next": "Prepare Routing Operation"
    },
    "Prepare Routing Operation": {
      "Type": "Pass",
      "Assign": {
        "routingOperationId": "{% 'file-routing-workflow#' & $idempotencyKey %}"
      },
      "Next": "Claim Routing Operation"
    },
    "Claim Routing Operation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Item": {
          "id": { "S": "{% $routingOperationId %}" },
          "status": { "S": "INPROGRESS" },
          "execution_arn": { "S": "{% $states.context.Execution.Id %}" },
          "scan_event_id": { "S": "{% $eventId %}" },
          "scan_causation_id": { "S": "{% $scanCausationId %}" },
          "scan_idempotency_key": { "S": "{% $idempotencyKey %}" },
          "file_id": { "S": "{% $fileId %}" },
          "correlation_id": { "S": "{% $correlationId %}" },
          "scan_result_status": { "S": "{% $scanResultStatus %}" },
          "route": { "S": "{% $route %}" },
          "source_bucket": { "S": "{% $routingSourceBucket %}" },
          "source_key": { "S": "{% $routingSourceKey %}" },
          "source_version_id": { "S": "{% $routingSourceVersionId %}" },
          "source_size_bytes": { "N": "{% $string($routingSourceSizeBytes) %}" },
          "destination_bucket": { "S": "{% $routingDestinationBucket %}" },
          "source_deleted": { "BOOL": false },
          "created_at": { "S": "{% $states.context.Execution.StartTime %}" },
          "updated_at": { "S": "{% $states.context.Execution.StartTime %}" },
          "expiration": { "N": "{% $string($nowEpoch + $recordRetentionSeconds) %}" },
          "in_progress_expiration": { "N": "{% $string($nowEpoch + $leaseSeconds) %}" }
        },
        "ConditionExpression": "attribute_not_exists(id) OR expiration < :now",
        "ExpressionAttributeValues": {
          ":now": { "N": "{% $string($nowEpoch) %}" }
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.InternalServerError", "DynamoDB.ProvisionedThroughputExceededException", "DynamoDB.RequestLimitExceeded"],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["DynamoDB.ConditionalCheckFailedException"],
          "Next": "Get Existing Routing Operation"
        }
      ],
      "Next": "Set New Routing Operation Status"
    },
    "Set New Routing Operation Status": {
      "Type": "Pass",
      "Assign": {
        "routingResumeStatus": "INPROGRESS"
      },
      "Next": "Inspect Routing Source Object"
    },
    "Get Existing Routing Operation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "ConsistentRead": true,
        "Key": {
          "id": { "S": "{% $routingOperationId %}" }
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.InternalServerError", "DynamoDB.ProvisionedThroughputExceededException", "DynamoDB.RequestLimitExceeded"],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "existingRoutingItem": "{% $exists($states.result.Item) ? $states.result.Item : {} %}"
      },
      "Next": "Evaluate Existing Routing Operation"
    },
    "Evaluate Existing Routing Operation": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $exists($existingRoutingItem.status.S) and $existingRoutingItem.status.S = 'COMPLETED' %}",
          "Next": "Duplicate Routing Event"
        },
        {
          "Condition": "{% $exists($existingRoutingItem.in_progress_expiration.N) and $number($existingRoutingItem.in_progress_expiration.N) >= $nowEpoch %}",
          "Next": "Routing Operation In Progress"
        },
        {
          "Condition": "{% $exists($existingRoutingItem.status.S) and $exists($existingRoutingItem.execution_arn.S) %}",
          "Next": "Take Over Expired Routing Operation"
        }
      ],
      "Default": "Invalid Stored Routing Operation"
    },
    "Duplicate Routing Event": {
      "Type": "Succeed"
    },
    "Routing Operation In Progress": {
      "Type": "Succeed"
    },
    "Invalid Stored Routing Operation": {
      "Type": "Fail",
      "Error": "InvalidStoredRoutingOperation",
      "Cause": "The routing idempotency record is missing required workflow state"
    },
    "Take Over Expired Routing Operation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $routingOperationId %}" }
        },
        "UpdateExpression": "SET execution_arn = :execution, in_progress_expiration = :lease, updated_at = :updated",
        "ConditionExpression": "execution_arn = :previous_execution AND in_progress_expiration < :now AND #status <> :completed",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":previous_execution": { "S": "{% $existingRoutingItem.execution_arn.S %}" },
          ":lease": { "N": "{% $string($nowEpoch + $leaseSeconds) %}" },
          ":now": { "N": "{% $string($nowEpoch) %}" },
          ":updated": { "S": "{% $states.context.Execution.StartTime %}" },
          ":completed": { "S": "COMPLETED" }
        },
        "ReturnValues": "ALL_NEW"
      },
      "Assign": {
        "routingResumeStatus": "{% $states.result.Attributes.status.S %}",
        "route": "{% $states.result.Attributes.route.S %}",
        "routingDestinationBucket": "{% $states.result.Attributes.destination_bucket.S %}",
        "routingDestinationKmsKeyArn": "{% $lookup($routingDestinations, $states.result.Attributes.route.S).kmsKeyArn %}",
        "routingUploadId": "{% $exists($states.result.Attributes.upload_id.S) ? $states.result.Attributes.upload_id.S : null %}",
        "routingPartCount": "{% $exists($states.result.Attributes.part_count.N) ? $number($states.result.Attributes.part_count.N) : null %}",
        "routingDestinationObjectVersionId": "{% $exists($states.result.Attributes.destination_version_id.S) ? $states.result.Attributes.destination_version_id.S : null %}",
        "routingCopyMethod": "{% $exists($states.result.Attributes.copy_method.S) ? $states.result.Attributes.copy_method.S : ($states.result.Attributes.status.S in ['MULTIPART_CREATED', 'PARTS_COPIED', 'MULTIPART_ABORTED'] ? 'MULTIPART' : null) %}"
      },
      "Next": "Route Stored Routing Checkpoint"
    },
    "Route Stored Routing Checkpoint": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $routingResumeStatus = 'PUBLISHED' %}",
          "Next": "Routing Checkpoint Completed"
        },
        {
          "Condition": "{% $routingResumeStatus = 'SOURCE_DELETED' %}",
          "Next": "Prepare File Routed Event"
        },
        {
          "Condition": "{% $routingResumeStatus = 'VERIFIED' %}",
          "Next": "Delete Exact Processing Object Version"
        },
        {
          "Condition": "{% $routingResumeStatus in ['INPROGRESS', 'MULTIPART_CREATED', 'PARTS_COPIED', 'MULTIPART_ABORTED', 'COPIED'] %}",
          "Next": "Inspect Routing Source Object"
        }
      ],
      "Default": "Invalid Stored Routing Operation"
    },
    "Inspect Routing Source Object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:headObject",
      "Arguments": {
        "Bucket": "{% $routingSourceBucket %}",
        "Key": "{% $routingSourceKey %}",
        "VersionId": "{% $routingSourceVersionId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}",
        "ChecksumMode": "ENABLED"
      },
      "Retry": [
        {
          "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "routingSourceObjectHead": "{% $states.result %}"
      },
      "Next": "Get Routing Source Object Tags"
    },
    "Get Routing Source Object Tags": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObjectTagging",
      "Arguments": {
        "Bucket": "{% $routingSourceBucket %}",
        "Key": "{% $routingSourceKey %}",
        "VersionId": "{% $routingSourceVersionId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Retry": [
        {
          "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "routingSourceObjectTags": "{% $exists($states.result.TagSet) ? $states.result.TagSet : [] %}",
        "routingSourceObjectTagging": "{% $count($states.result.TagSet) > 0 ? $join($map($states.result.TagSet, function($tag) { $encodeUrlComponent($tag.Key) & '=' & $encodeUrlComponent($tag.Value) }), '&') : '' %}",
        "routingSourceObjectTagFingerprint": "{% $count($states.result.TagSet) > 0 ? $join($sort($map($states.result.TagSet, function($tag) { $encodeUrlComponent($tag.Key) & '=' & $encodeUrlComponent($tag.Value) })), '&') : '' %}",
        "expectedRoutingDestinationObjectMetadata": "{% $exists($routingSourceObjectHead.Metadata) ? $routingSourceObjectHead.Metadata : {} %}"
      },
      "Next": "Validate Routing Source Object"
    },
    "Validate Routing Source Object": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $routingSourceObjectHead.ContentLength = $routingSourceSizeBytes %}",
          "Next": "Route Routing Copy Checkpoint"
        }
      ],
      "Default": "Invalid Routing Source Object"
    },
    "Invalid Routing Source Object": {
      "Type": "Fail",
      "Error": "InvalidRoutingSourceObject",
      "Cause": "The exact processing version does not match the scan-result event"
    },
    "Route Routing Copy Checkpoint": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $routingResumeStatus = 'COPIED' %}",
          "Next": "Inspect Routing Destination Object"
        },
        {
          "Condition": "{% $routingResumeStatus = 'MULTIPART_CREATED' %}",
          "Next": "Build Resumed Routing Multipart Ranges"
        },
        {
          "Condition": "{% $routingResumeStatus = 'PARTS_COPIED' %}",
          "Next": "List Routing Parts For Completion"
        },
        {
          "Condition": "{% $routingResumeStatus = 'MULTIPART_ABORTED' %}",
          "Next": "Prepare Routing Multipart Copy"
        },
        {
          "Condition": "{% $routingResumeStatus = 'INPROGRESS' and $routingSourceSizeBytes <= $partSize %}",
          "Next": "Prepare Routing Single Copy"
        },
        {
          "Condition": "{% $routingResumeStatus = 'INPROGRESS' and $routingSourceSizeBytes > $partSize %}",
          "Next": "Prepare Routing Multipart Copy"
        }
      ],
      "Default": "Invalid Stored Routing Operation"
    },
    "Prepare Routing Single Copy": {
      "Type": "Pass",
      "Assign": {
        "routingCopyMethod": "SINGLE"
      },
      "Next": "Copy Processing Object"
    },
    "Copy Processing Object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "Arguments": "{% $merge([{'Bucket': $routingDestinationBucket, 'Key': $routingSourceKey, 'CopySource': $routingSourceBucket & '/' & $encodeUrlComponent($routingSourceKey) & '?versionId=' & $encodeUrlComponent($routingSourceVersionId), 'ExpectedBucketOwner': $expectedAccountId, 'ExpectedSourceBucketOwner': $expectedAccountId, 'MetadataDirective': 'REPLACE', 'Metadata': $expectedRoutingDestinationObjectMetadata, 'ServerSideEncryption': 'aws:kms', 'SsekmsKeyId': $routingDestinationKmsKeyArn}, $count($routingSourceObjectTags) > 0 ? {'TaggingDirective': 'REPLACE', 'Tagging': $routingSourceObjectTagging} : {}, $exists($routingSourceObjectHead.CacheControl) ? {'CacheControl': $routingSourceObjectHead.CacheControl} : {}, $exists($routingSourceObjectHead.ContentDisposition) ? {'ContentDisposition': $routingSourceObjectHead.ContentDisposition} : {}, $exists($routingSourceObjectHead.ContentEncoding) ? {'ContentEncoding': $routingSourceObjectHead.ContentEncoding} : {}, $exists($routingSourceObjectHead.ContentLanguage) ? {'ContentLanguage': $routingSourceObjectHead.ContentLanguage} : {}, $exists($routingSourceObjectHead.ContentType) ? {'ContentType': $routingSourceObjectHead.ContentType} : {}, $exists($routingSourceObjectHead.Expires) ? {'Expires': $routingSourceObjectHead.Expires} : {}, $exists($routingSourceObjectHead.WebsiteRedirectLocation) ? {'WebsiteRedirectLocation': $routingSourceObjectHead.WebsiteRedirectLocation} : {}]) %}",
      "Assign": {
        "routingDestinationObjectVersionId": "{% $states.result.VersionId %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Ambiguous Routing Copy Failure"
        }
      ],
      "Next": "Routing Checkpoint Copied"
    },
    "Prepare Routing Multipart Copy": {
      "Type": "Pass",
      "Assign": {
        "routingCopyMethod": "MULTIPART",
        "routingPartCount": "{% $ceil($routingSourceSizeBytes / $partSize) %}",
        "routingMultipartAttempt": "{% $routingMultipartAttempt + 1 %}"
      },
      "Next": "Build Routing Multipart Ranges"
    },
    "Build Routing Multipart Ranges": {
      "Type": "Pass",
      "Assign": {
        "routingParts": "{% $map($range(0, $routingPartCount - 1, 1), function($index) { {'PartNumber': $index + 1, 'RangeStart': $index * $partSize, 'RangeEnd': $min([(($index + 1) * $partSize) - 1, $routingSourceSizeBytes - 1]), 'ExpectedSize': $min([$partSize, $routingSourceSizeBytes - ($index * $partSize)])} }) %}"
      },
      "Next": "Create Routing Multipart Upload"
    },
    "Build Resumed Routing Multipart Ranges": {
      "Type": "Pass",
      "Assign": {
        "routingParts": "{% $map($range(0, $routingPartCount - 1, 1), function($index) { {'PartNumber': $index + 1, 'RangeStart': $index * $partSize, 'RangeEnd': $min([(($index + 1) * $partSize) - 1, $routingSourceSizeBytes - 1]), 'ExpectedSize': $min([$partSize, $routingSourceSizeBytes - ($index * $partSize)])} }) %}"
      },
      "Next": "List Existing Routing Parts"
    },
    "Create Routing Multipart Upload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:createMultipartUpload",
      "Arguments": "{% $merge([{'Bucket': $routingDestinationBucket, 'Key': $routingSourceKey, 'ExpectedBucketOwner': $expectedAccountId, 'Metadata': $expectedRoutingDestinationObjectMetadata, 'ServerSideEncryption': 'aws:kms', 'SsekmsKeyId': $routingDestinationKmsKeyArn}, $count($routingSourceObjectTags) > 0 ? {'Tagging': $routingSourceObjectTagging} : {}, $exists($routingSourceObjectHead.CacheControl) ? {'CacheControl': $routingSourceObjectHead.CacheControl} : {}, $exists($routingSourceObjectHead.ContentDisposition) ? {'ContentDisposition': $routingSourceObjectHead.ContentDisposition} : {}, $exists($routingSourceObjectHead.ContentEncoding) ? {'ContentEncoding': $routingSourceObjectHead.ContentEncoding} : {}, $exists($routingSourceObjectHead.ContentLanguage) ? {'ContentLanguage': $routingSourceObjectHead.ContentLanguage} : {}, $exists($routingSourceObjectHead.ContentType) ? {'ContentType': $routingSourceObjectHead.ContentType} : {}, $exists($routingSourceObjectHead.Expires) ? {'Expires': $routingSourceObjectHead.Expires} : {}, $exists($routingSourceObjectHead.WebsiteRedirectLocation) ? {'WebsiteRedirectLocation': $routingSourceObjectHead.WebsiteRedirectLocation} : {}]) %}",
      "Assign": {
        "routingUploadId": "{% $states.result.UploadId %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Routing Multipart Reconciliation Failure"
        }
      ],
      "Next": "Routing Checkpoint Multipart Created"
    },
    "Routing Checkpoint Multipart Created": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $routingOperationId %}" }
        },
        "UpdateExpression": "SET #status = :status, upload_id = :upload_id, part_count = :part_count, part_size = :part_size, updated_at = :updated, in_progress_expiration = :lease",
        "ConditionExpression": "execution_arn = :execution AND #status IN (:inprogress, :aborted)",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "MULTIPART_CREATED" },
          ":inprogress": { "S": "INPROGRESS" },
          ":aborted": { "S": "MULTIPART_ABORTED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":upload_id": { "S": "{% $routingUploadId %}" },
          ":part_count": { "N": "{% $string($routingPartCount) %}" },
          ":part_size": { "N": "{% $string($partSize) %}" },
          ":updated": { "S": "{% $now() %}" },
          ":lease": { "N": "{% $string($floor($toMillis($now()) / 1000) + $leaseSeconds) %}" }
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Abort Routing Multipart Upload"
        }
      ],
      "Next": "List Existing Routing Parts"
    },
    "List Existing Routing Parts": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:listParts",
      "Arguments": {
        "Bucket": "{% $routingDestinationBucket %}",
        "Key": "{% $routingSourceKey %}",
        "UploadId": "{% $routingUploadId %}",
        "MaxParts": 1000,
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Assign": {
        "routingListedParts": "{% $exists($states.result.Parts) ? $map($states.result.Parts, function($part) { {'PartNumber': $part.PartNumber, 'Size': $part.Size, 'ETag': $part.ETag} }) : [] %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Ambiguous Routing Copy Failure"
        }
      ],
      "Next": "Build Missing Routing Parts"
    },
    "Build Missing Routing Parts": {
      "Type": "Pass",
      "Assign": {
        "routingMissingParts": "{% $filter($routingParts, function($expected) { $count($filter($routingListedParts, function($listed) { $listed.PartNumber = $expected.PartNumber and $listed.Size = $expected.ExpectedSize })) = 0 }) %}"
      },
      "Next": "Copy Missing Routing Parts"
    },
    "Copy Missing Routing Parts": {
      "Type": "Map",
      "Items": "{% $routingMissingParts %}",
      "MaxConcurrency": ${multipart_max_concurrency},
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Copy Routing Part",
        "States": {
          "Copy Routing Part": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:s3:uploadPartCopy",
            "Arguments": {
              "Bucket": "{% $routingDestinationBucket %}",
              "Key": "{% $routingSourceKey %}",
              "UploadId": "{% $routingUploadId %}",
              "PartNumber": "{% $states.input.PartNumber %}",
              "CopySource": "{% $routingSourceBucket & '/' & $encodeUrlComponent($routingSourceKey) & '?versionId=' & $encodeUrlComponent($routingSourceVersionId) %}",
              "CopySourceRange": "{% 'bytes=' & $string($states.input.RangeStart) & '-' & $string($states.input.RangeEnd) %}",
              "ExpectedBucketOwner": "{% $expectedAccountId %}",
              "ExpectedSourceBucketOwner": "{% $expectedAccountId %}"
            },
            "Retry": [
              {
                "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
                "IntervalSeconds": 2,
                "MaxAttempts": 5,
                "BackoffRate": 2,
                "MaxDelaySeconds": 60,
                "JitterStrategy": "FULL"
              }
            ],
            "Output": {},
            "End": true
          }
        }
      },
      "Output": [],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Abort Routing Multipart Upload"
        }
      ],
      "Next": "Release Routing Part Planning Data"
    },
    "Release Routing Part Planning Data": {
      "Type": "Pass",
      "Assign": {
        "routingParts": null,
        "routingListedParts": null,
        "routingMissingParts": null
      },
      "Next": "List Routing Parts For Completion"
    },
    "List Routing Parts For Completion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:listParts",
      "Arguments": {
        "Bucket": "{% $routingDestinationBucket %}",
        "Key": "{% $routingSourceKey %}",
        "UploadId": "{% $routingUploadId %}",
        "MaxParts": 1000,
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Assign": {
        "routingPartsListTruncated": "{% $states.result.IsTruncated %}",
        "routingCompletedParts": "{% $exists($states.result.Parts) ? $map($states.result.Parts, function($part) { {'PartNumber': $part.PartNumber, 'Size': $part.Size, 'ETag': $part.ETag} }) : [] %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Ambiguous Routing Copy Failure"
        }
      ],
      "Next": "Validate Routing Completed Parts"
    },
    "Validate Routing Completed Parts": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $routingPartsListTruncated = false and $count($routingCompletedParts) = $routingPartCount and $count($filter($routingCompletedParts, function($part) { $part.PartNumber >= 1 and $part.PartNumber <= $routingPartCount and $part.Size = ($part.PartNumber = $routingPartCount ? $routingSourceSizeBytes - (($routingPartCount - 1) * $partSize) : $partSize) })) = $routingPartCount %}",
          "Next": "Routing Checkpoint Parts Copied"
        }
      ],
      "Default": "Abort Routing Multipart Upload"
    },
    "Routing Checkpoint Parts Copied": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $routingOperationId %}" }
        },
        "UpdateExpression": "SET #status = :status, updated_at = :updated, in_progress_expiration = :lease",
        "ConditionExpression": "execution_arn = :execution AND #status IN (:created, :parts)",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "PARTS_COPIED" },
          ":created": { "S": "MULTIPART_CREATED" },
          ":parts": { "S": "PARTS_COPIED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":updated": { "S": "{% $now() %}" },
          ":lease": { "N": "{% $string($floor($toMillis($now()) / 1000) + $leaseSeconds) %}" }
        }
      },
      "Next": "Complete Routing Multipart Upload"
    },
    "Complete Routing Multipart Upload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:completeMultipartUpload",
      "Arguments": {
        "Bucket": "{% $routingDestinationBucket %}",
        "Key": "{% $routingSourceKey %}",
        "UploadId": "{% $routingUploadId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}",
        "MpuObjectSize": "{% $routingSourceSizeBytes %}",
        "MultipartUpload": {
          "Parts": "{% $map($routingCompletedParts, function($part) { {'PartNumber': $part.PartNumber, 'ETag': $part.ETag} }) %}"
        }
      },
      "Assign": {
        "routingDestinationObjectVersionId": "{% $states.result.VersionId %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "List Routing Parts After Completion Failure"
        }
      ],
      "Next": "Routing Checkpoint Copied"
    },
    "List Routing Parts After Completion Failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:listParts",
      "Arguments": {
        "Bucket": "{% $routingDestinationBucket %}",
        "Key": "{% $routingSourceKey %}",
        "UploadId": "{% $routingUploadId %}",
        "MaxParts": 1000,
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Assign": {
        "routingCompletedParts": "{% $map($states.result.Parts, function($part) { {'PartNumber': $part.PartNumber, 'Size': $part.Size, 'ETag': $part.ETag} }) %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Ambiguous Routing Copy Failure"
        }
      ],
      "Next": "Retry Complete Routing Multipart Upload"
    },
    "Retry Complete Routing Multipart Upload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:completeMultipartUpload",
      "Arguments": {
        "Bucket": "{% $routingDestinationBucket %}",
        "Key": "{% $routingSourceKey %}",
        "UploadId": "{% $routingUploadId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}",
        "MpuObjectSize": "{% $routingSourceSizeBytes %}",
        "MultipartUpload": {
          "Parts": "{% $map($routingCompletedParts, function($part) { {'PartNumber': $part.PartNumber, 'ETag': $part.ETag} }) %}"
        }
      },
      "Assign": {
        "routingDestinationObjectVersionId": "{% $states.result.VersionId %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Ambiguous Routing Copy Failure"
        }
      ],
      "Next": "Routing Checkpoint Copied"
    },
    "Ambiguous Routing Copy Failure": {
      "Type": "Fail",
      "Error": "AmbiguousRoutingCopyFailure",
      "Cause": "The routing copy outcome could not be reconciled without risking a duplicate destination version"
    },
    "Routing Checkpoint Copied": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $routingOperationId %}" }
        },
        "UpdateExpression": "SET #status = :status, copy_method = :copy_method, destination_bucket = :destination_bucket, destination_key = :destination_key, destination_version_id = :destination_version_id, updated_at = :updated, in_progress_expiration = :lease",
        "ConditionExpression": "execution_arn = :execution AND #status IN (:inprogress, :parts, :copied)",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "COPIED" },
          ":inprogress": { "S": "INPROGRESS" },
          ":parts": { "S": "PARTS_COPIED" },
          ":copied": { "S": "COPIED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":copy_method": { "S": "{% $routingCopyMethod %}" },
          ":destination_bucket": { "S": "{% $routingDestinationBucket %}" },
          ":destination_key": { "S": "{% $routingSourceKey %}" },
          ":destination_version_id": { "S": "{% $routingDestinationObjectVersionId %}" },
          ":updated": { "S": "{% $now() %}" },
          ":lease": { "N": "{% $string($floor($toMillis($now()) / 1000) + $leaseSeconds) %}" }
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.InternalServerError", "DynamoDB.ProvisionedThroughputExceededException", "DynamoDB.RequestLimitExceeded"],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Get Routing Copied Checkpoint"
        }
      ],
      "Next": "Inspect Routing Destination Object"
    },
    "Get Routing Copied Checkpoint": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "ConsistentRead": true,
        "Key": {
          "id": { "S": "{% $routingOperationId %}" }
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.InternalServerError", "DynamoDB.ProvisionedThroughputExceededException", "DynamoDB.RequestLimitExceeded"],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "routingCopiedCheckpointItem": "{% $exists($states.result.Item) ? $states.result.Item : {} %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Ambiguous Routing Copied Checkpoint Failure"
        }
      ],
      "Next": "Evaluate Routing Copied Checkpoint"
    },
    "Evaluate Routing Copied Checkpoint": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $exists($routingCopiedCheckpointItem.status.S) and $routingCopiedCheckpointItem.status.S = 'COPIED' and $exists($routingCopiedCheckpointItem.execution_arn.S) and $routingCopiedCheckpointItem.execution_arn.S = $states.context.Execution.Id and $exists($routingCopiedCheckpointItem.destination_version_id.S) and $routingCopiedCheckpointItem.destination_version_id.S = $routingDestinationObjectVersionId %}",
          "Next": "Inspect Routing Destination Object"
        },
        {
          "Condition": "{% $exists($routingCopiedCheckpointItem.status.S) and $routingCopiedCheckpointItem.status.S in ['INPROGRESS', 'PARTS_COPIED'] and $exists($routingCopiedCheckpointItem.execution_arn.S) and $routingCopiedCheckpointItem.execution_arn.S = $states.context.Execution.Id %}",
          "Next": "Delete Uncheckpointed Routing Destination Version"
        }
      ],
      "Default": "Ambiguous Routing Copied Checkpoint Failure"
    },
    "Delete Uncheckpointed Routing Destination Version": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
      "Arguments": {
        "Bucket": "{% $routingDestinationBucket %}",
        "Key": "{% $routingSourceKey %}",
        "VersionId": "{% $routingDestinationObjectVersionId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Uncheckpointed Routing Destination Cleanup Failure"
        }
      ],
      "Next": "Route Uncheckpointed Routing Copy Rollback"
    },
    "Route Uncheckpointed Routing Copy Rollback": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $routingCopyMethod = 'MULTIPART' %}",
          "Next": "Routing Checkpoint Multipart Aborted"
        }
      ],
      "Default": "Uncheckpointed Routing Copy Rolled Back"
    },
    "Uncheckpointed Routing Copy Rolled Back": {
      "Type": "Fail",
      "Error": "UncheckpointedRoutingCopyRolledBack",
      "Cause": "The exact destination version was removed because its durable checkpoint did not commit"
    },
    "Ambiguous Routing Copied Checkpoint Failure": {
      "Type": "Fail",
      "Error": "AmbiguousRoutingCopiedCheckpointFailure",
      "Cause": "The routing copy checkpoint outcome could not be reconciled safely"
    },
    "Uncheckpointed Routing Destination Cleanup Failure": {
      "Type": "Fail",
      "Error": "UncheckpointedRoutingDestinationCleanupFailure",
      "Cause": "The uncheckpointed destination version could not be removed safely"
    },
    "Abort Routing Multipart Upload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:abortMultipartUpload",
      "Arguments": {
        "Bucket": "{% $routingDestinationBucket %}",
        "Key": "{% $routingSourceKey %}",
        "UploadId": "{% $routingUploadId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Retry": [
        {
          "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 2,
          "MaxDelaySeconds": 60,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Routing Checkpoint Multipart Aborted"
    },
    "Routing Checkpoint Multipart Aborted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $routingOperationId %}" }
        },
        "UpdateExpression": "SET #status = :status, updated_at = :updated, in_progress_expiration = :lease REMOVE upload_id, part_count, part_size",
        "ConditionExpression": "execution_arn = :execution AND #status IN (:inprogress, :created, :parts)",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "MULTIPART_ABORTED" },
          ":inprogress": { "S": "INPROGRESS" },
          ":created": { "S": "MULTIPART_CREATED" },
          ":parts": { "S": "PARTS_COPIED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":updated": { "S": "{% $now() %}" },
          ":lease": { "N": "{% $string($floor($toMillis($now()) / 1000) + $leaseSeconds) %}" }
        }
      },
      "Next": "Allow Routing Multipart Retry"
    },
    "Allow Routing Multipart Retry": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $routingMultipartAttempt < 2 %}",
          "Next": "Prepare Routing Multipart Copy"
        }
      ],
      "Default": "Routing Multipart Copy Failure"
    },
    "Routing Multipart Reconciliation Failure": {
      "Type": "Fail",
      "Error": "RoutingMultipartReconciliationFailure",
      "Cause": "An ambiguous routing multipart upload could not be reconciled safely"
    },
    "Routing Multipart Copy Failure": {
      "Type": "Fail",
      "Error": "RoutingMultipartCopyFailure",
      "Cause": "The multipart routing copy failed after its bounded recovery attempt"
    },
    "Inspect Routing Destination Object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:headObject",
      "Arguments": {
        "Bucket": "{% $routingDestinationBucket %}",
        "Key": "{% $routingSourceKey %}",
        "VersionId": "{% $routingDestinationObjectVersionId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}",
        "ChecksumMode": "ENABLED"
      },
      "Retry": [
        {
          "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "routingDestinationObjectHead": "{% $states.result %}"
      },
      "Next": "Get Routing Destination Object Tags"
    },
    "Get Routing Destination Object Tags": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObjectTagging",
      "Arguments": {
        "Bucket": "{% $routingDestinationBucket %}",
        "Key": "{% $routingSourceKey %}",
        "VersionId": "{% $routingDestinationObjectVersionId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Retry": [
        {
          "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2,
          "MaxDelaySeconds": 30,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "routingDestinationObjectTags": "{% $exists($states.result.TagSet) ? $states.result.TagSet : [] %}",
        "routingDestinationObjectTagFingerprint": "{% $count($states.result.TagSet) > 0 ? $join($sort($map($states.result.TagSet, function($tag) { $encodeUrlComponent($tag.Key) & '=' & $encodeUrlComponent($tag.Value) })), '&') : '' %}"
      },
      "Next": "Verify Routing Destination Object"
    },
    "Verify Routing Destination Object": {
      "Type": "Choice",
      "Comment": "All source tags are preserved and verified; final GuardDuty tag-status comparison is intentionally deferred because the scan event is authoritative.",
      "Choices": [
        {
          "Condition": "{% $routingDestinationObjectHead.ContentLength = $routingSourceSizeBytes and $routingDestinationObjectHead.ServerSideEncryption = 'aws:kms' and $routingDestinationObjectHead.SsekmsKeyId = $routingDestinationKmsKeyArn and $count($keys($routingDestinationObjectHead.Metadata)) = $count($keys($expectedRoutingDestinationObjectMetadata)) and $count($filter($keys($expectedRoutingDestinationObjectMetadata), function($key) { $lookup($routingDestinationObjectHead.Metadata, $key) = $lookup($expectedRoutingDestinationObjectMetadata, $key) })) = $count($keys($expectedRoutingDestinationObjectMetadata)) and $routingDestinationObjectTagFingerprint = $routingSourceObjectTagFingerprint %}",
          "Next": "Routing Checkpoint Verified"
        }
      ],
      "Default": "Routing Destination Object Verification Failure"
    },
    "Routing Destination Object Verification Failure": {
      "Type": "Fail",
      "Error": "RoutingDestinationObjectVerificationFailure",
      "Cause": "The destination version does not match the exact processing object attributes"
    },
    "Routing Checkpoint Verified": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $routingOperationId %}" }
        },
        "UpdateExpression": "SET #status = :status, verified_at = :verified, updated_at = :updated, in_progress_expiration = :lease",
        "ConditionExpression": "execution_arn = :execution AND #status = :copied",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "VERIFIED" },
          ":copied": { "S": "COPIED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":verified": { "S": "{% $now() %}" },
          ":updated": { "S": "{% $now() %}" },
          ":lease": { "N": "{% $string($floor($toMillis($now()) / 1000) + $leaseSeconds) %}" }
        }
      },
      "Next": "Delete Exact Processing Object Version"
    },
    "Delete Exact Processing Object Version": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
      "Arguments": {
        "Bucket": "{% $routingSourceBucket %}",
        "Key": "{% $routingSourceKey %}",
        "VersionId": "{% $routingSourceVersionId %}",
        "ExpectedBucketOwner": "{% $expectedAccountId %}"
      },
      "Retry": [
        {
          "ErrorEquals": ["S3.InternalErrorException", "S3.RequestTimeoutException", "S3.ServiceUnavailableException", "S3.SlowDownException", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 2,
          "MaxDelaySeconds": 60,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Routing Checkpoint Source Deleted"
    },
    "Routing Checkpoint Source Deleted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $routingOperationId %}" }
        },
        "UpdateExpression": "SET #status = :status, source_deleted = :source_deleted, source_deleted_at = :deleted, updated_at = :updated, in_progress_expiration = :lease",
        "ConditionExpression": "execution_arn = :execution AND #status = :verified",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "SOURCE_DELETED" },
          ":verified": { "S": "VERIFIED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":source_deleted": { "BOOL": true },
          ":deleted": { "S": "{% $now() %}" },
          ":updated": { "S": "{% $now() %}" },
          ":lease": { "N": "{% $string($floor($toMillis($now()) / 1000) + $leaseSeconds) %}" }
        }
      },
      "Next": "Prepare File Routed Event"
    },
    "Prepare File Routed Event": {
      "Type": "Pass",
      "Assign": {
        "routedEventIdempotencyKey": "{% 'route:' & $route & ':' & $routingDestinationBucket & ':' & $routingSourceKey & ':' & $routingDestinationObjectVersionId %}",
        "fileRoutedEventDetail": "{% {'metadata': {'correlationId': $correlationId, 'causationId': $eventId, 'idempotencyKey': 'route:' & $route & ':' & $routingDestinationBucket & ':' & $routingSourceKey & ':' & $routingDestinationObjectVersionId}, 'data': {'fileId': $fileId, 'sourceObject': {'bucket': $routingSourceBucket, 'key': $routingSourceKey, 'versionId': $routingSourceVersionId, 'sizeBytes': $routingSourceSizeBytes}, 'destinationObject': {'bucket': $routingDestinationBucket, 'key': $routingSourceKey, 'versionId': $routingDestinationObjectVersionId, 'sizeBytes': $routingSourceSizeBytes}, 'route': $route, 'scanResultStatus': $scanResultStatus, 'sourceDeleted': true}} %}"
      },
      "Next": "Publish File Routed Event"
    },
    "Publish File Routed Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": "{% $fileRoutedEventDetail %}",
            "DetailType": "FileRouted.v1",
            "EventBusName": "{% $eventBusArn %}",
            "Source": "uk.gov.justice.service.managed-file-transfer"
          }
        ]
      },
      "Retry": [
        {
          "ErrorEquals": ["EventBridge.FailedEntry", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 2,
          "MaxDelaySeconds": 60,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "routedEventId": "{% $states.result.Entries[0].EventId %}"
      },
      "Next": "Routing Checkpoint Published"
    },
    "Routing Checkpoint Published": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $routingOperationId %}" }
        },
        "UpdateExpression": "SET #status = :status, routed_event_id = :event_id, routed_event_idempotency_key = :idempotency_key, published_at = :published, updated_at = :updated, in_progress_expiration = :lease",
        "ConditionExpression": "execution_arn = :execution AND #status = :source_deleted",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "PUBLISHED" },
          ":source_deleted": { "S": "SOURCE_DELETED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":event_id": { "S": "{% $routedEventId %}" },
          ":idempotency_key": { "S": "{% $routedEventIdempotencyKey %}" },
          ":published": { "S": "{% $now() %}" },
          ":updated": { "S": "{% $now() %}" },
          ":lease": { "N": "{% $string($floor($toMillis($now()) / 1000) + $leaseSeconds) %}" }
        }
      },
      "Next": "Routing Checkpoint Completed"
    },
    "Routing Checkpoint Completed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": ${idempotency_table_name},
        "Key": {
          "id": { "S": "{% $routingOperationId %}" }
        },
        "UpdateExpression": "SET #status = :status, completed_at = :completed, updated_at = :updated REMOVE in_progress_expiration",
        "ConditionExpression": "execution_arn = :execution AND #status = :published",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "COMPLETED" },
          ":published": { "S": "PUBLISHED" },
          ":execution": { "S": "{% $states.context.Execution.Id %}" },
          ":completed": { "S": "{% $now() %}" },
          ":updated": { "S": "{% $now() %}" }
        }
      },
      "Next": "Routing Workflow Completed"
    },
    "Routing Workflow Completed": {
      "Type": "Succeed"
    }
  }
}